version: "3.9"

services:
  flask:
    build: .
    container_name: flask_app
    ports:
      - "5000:5000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx_reverse_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - flask
    restart: always

